.main__section {
  padding: 25px 30px;
  border-left: 1.5px solid #ccc;
  border-right: 1.5px solid #ccc;
}
.main__section__header {
  color: #5b5b5b;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}
