.jumbotron {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blue__jumbotron {
  background-color: #2766cc;
  padding: 15px 5px 5px 5px;
}
.white__jumbotron {
  padding: 50px 50px 15px 50px;
}
.jumbotron__value__block {
  width: 140px;
  height: 100px;
  margin: 30px 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.delivery__van {
  width: 50px;
  height: 40px;
  object-fit: contain;
}
.buyer__protection {
  width: 70px;
  height: 45px;
  object-fit: contain;
}
.customer__support {
  width: 45px;
  height: 40px;
  object-fit: contain;
}
.value__type {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0px;
}
.whatsapp__chat {
  padding: 7px 10px;
  background-color: #40c251;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 0.95rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 0;
  display: flex;
}
.whatsapp__icon {
  margin-right: 5px;
  margin-top: -2px;
}
.bottom__jumbotron {
  margin-bottom: 25px;
}
