.related__product__figure {
  height: 200px;
  width: 140px;
  border-radius: 7px;
}
.related__product__image {
  height: 150px;
  width: 140px;
  object-fit: cover;
  border-radius: 7px;
}
.related__product__name {
  color: #000;
  font-size: 0.95rem;
  font-family: "Lato", sans-serif;
  font-weight: 500px;
  font-style: normal;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
